.el-dialog__header {
    background-color: #409EFF;
}

.el-dialog__title {
    color: #fff !important;
}

.el-icon-close:before {
    color: #fff;
}

.el-pagination {
    margin-top: 1%;
}

.el-breadcrumb {
    padding: 1% 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {

    text-decoration: none;
}

ul {
    list-style: none;
}

/* .el-card.is-always-shadow,
.el-card.is-hover-shadow:focus,
.el-card.is-hover-shadow:hover {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !important;
} */

.el-button--primary.is-plain {
    color: #409EFF;
    background: #fff;
    border-color: #409EFF;
}

.AddConnect .el-input--suffix .el-input__inner {
    padding: 0 15px !important
}

.AddConnect .el-select .el-input__inner {
    cursor: pointer;
    padding-right: 35px !important;
}

.AddConnect .birth .el-input--suffix .el-input__inner {
    padding: 0 30px !important;
}